.addButton {
  position: fixed;
  margin-right: 16px;
  background-color: #22404a;
  color: #ccd6d5;
  border: none;
  border-radius: 50%;
  bottom: 24px;
  right: 24px;
  width: 56px;
  height: 56px;
  font-size: 24px;
  cursor: pointer;
  transition-duration: 0.25s;
  transition-property: background-color,box-shadow;
  z-index: 5;
}


.plus {
  position: absolute;
  top: -4px;
  left: 16px;
  font-size: 40px;
}