.footer nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer nav li {
  margin: 0 1rem;
}

.footer nav a {
  color: #fff;
  text-decoration: none;
}

.footer {
  background-color: #22404A;
  color: white;
  height: 100px; /* adjust the height as needed */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__link {
  color: white;
  text-decoration: none;
  margin-right: 10px;
}

.footer__text {
  margin-right: 10px;
}