/*!**********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[8].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[8].use[3]!./components/Header.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************/
.Header_header__l1qoc {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ccd6d5;
  padding: 1rem;
}

.Header_nav__MmD1T {
  display: flex;
  gap: 1rem;
}

.Header_title__MaSJ1 {
  color: #22404a;
  font-size: 2rem;
  font-weight: bold;
}
/*!**********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[8].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[8].use[3]!./components/Footer.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************/
.Footer_footer___O5Nl nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Footer_footer___O5Nl nav li {
  margin: 0 1rem;
}

.Footer_footer___O5Nl nav a {
  color: #fff;
  text-decoration: none;
}

.Footer_footer___O5Nl {
  background-color: #22404A;
  color: white;
  height: 100px; /* adjust the height as needed */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  bottom: 0;
  left: 0;
  right: 0;
}

.Footer_footer__link__Kd3iV {
  color: white;
  text-decoration: none;
  margin-right: 10px;
}

.Footer_footer__text__Wz_Os {
  margin-right: 10px;
}
